<!-- Adding some style to table (OPTIONAL) -->
<link rel="stylesheet" href="./static/styles.css"/>

{% if not session['user'] %}

  <div class='login-title'>Enter your name 👇</div>
  <form action='/' method='POST'>
    <div class='login-form'>
      <input  type="text" name="user_name" placeholder='Username'>
      <button type="submit">Login / Sign up</button>
    </div>
  </form>
{% endif %}

{% if session['user'] %}

  <div class='wrapper'>
  
    <div class='header'>
      <div>
      <div class='card'>
        <div>🐶</div>
        <div>{{ dogs_generated }}</div>
        <span>Total Dogs</span>
      </div>
      <div class='card'>
        <div>💁</div>
        <div>{{ session['user'] }}</div>
      </div>
      <div class='card'>
        <div>🔑</div>
        <div>{{ user['logins'] or 0 }}</div>
        <span># of Logins</span>
      </div>
      <div class='card'>
        <div>🐕</div>
        <div>{{ user['dogs_generated'] }}</div>
        <span>Dogs You Generated</span>
      </div>
      </div>
      {% if dog_image %}
        <div id='dog'><img src='{{dog_image}}' width='200' height='200' style="border-radius: 10%;"></div>
      {% endif %}
    </div>
    
    <div class='buttonsContainer'>
      <form action="/get_dog">
        <button>Get Random Dog</button>
      </form>

    <form action='/logout'>
      <button>Logout</button>
    </form>
  </div>

  
    <table class = "leaderboard">
      <!-- Table headers -->
        <th>
          <div class='titles'>
            <tr>  
              <td>Place</td>
              <td>Name</td>
              <td>Dogs Generated 🌟</td>
              <td>Logins</td>
            </tr>  
            </div>
        </th>
    
        {% for index, user in leaderboard %}
          <tr>
            {% if index + 1 == 1 %}
              <td>1 {{ '🏆' }}</td>
            {% else %}
              <td>{{ index + 1 }}</td>
            {% endif %}
            <td>{{ user['user_name'] }}</td>
            <td>{{ user['dogs_generated'] }}</td>
            <td>{{ user['logins'] }}</td>
          </tr>
        {% endfor %}
    
    </table>
  </div>
{% endif %}

